#about-us {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        align-items: center;
    }
    h1 {
        grid-row: 1;
        text-align: center;
    }

    p {
        grid-row: 2;
        text-align: center;
    }
}