#contact {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        // align-items: center;
        justify-items: center;
        
        
    }
    h1 {
        grid-column: 1 / -1;
        grid-row: 1;
        text-align: center;
        width: 60%;
        font-size: 48px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
        
    }

    p {
        grid-row: 2;
        grid-column: 1 / -1;
        text-align: center;
        margin-bottom: 3rem;
        line-height: 1.6;

    }

    .about {
        grid-row: 3;
        margin-top: 1rem;
        margin-bottom: 2rem;
        // text-align: center;
        // align-content: center;

        // display: grid;
        // grid-template-columns: repeat(4, 1fr);

        p {
            text-align: center;
        }
    }

    h2 {
        color: $color-pink;
        font-family: $headline-font;
        font-size: 42px;
        font-weight: 600;
    }

    .contact {
        grid-row: 4;
        grid-column: 1 / -1;
        width: 630px;
        height: 140px;
        line-height: 1.5;
        padding: 2rem 2rem;
        background: white;
        border-radius: 15px;
        border: 1px solid #eeeeee;
        box-shadow: 0 5px 19px 5px #F1F1F1;
        transition: box-shadow 0.2s ease-in-out;
        

        h3 {
            font-family: $headline-font;
            color: $color-dark;
            font-size: 21px;
            font-weight: 600;
        }
    }

    .contact:hover {
        box-shadow: 0 4px 13px 1px #F1F1F1;
    }

    .button {
        float: right;
        padding: 15px 21px;
        font-size: 16px;
    }
}