#features {
    .container {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        position: relative;

        @include lg {
            display: flex;
            margin-top: 2rem;
        }

    }

        .features-content {

            text-align: center;

            @include lg {
                text-align: start;
            }

            ul {
                width: 450px;

                li:first-child {
                    color: $color-headline;
                    font-family: $headline-font;
                    font-size: 36px;
                    font-weight: bold;
                    

                    @include lg {
                        line-height: 1.25;
                        padding-bottom: 1.2rem;
                        font-size: 48px;
                    }
                }

                li:last-child {
                    line-height: 1.6;
                    padding-bottom: 1.5rem;
                }
            }

            button {
                padding-top: 16px;
                padding-bottom: 16px;
                font-size: 16px;
            }
        }
    
        .features-items {

            text-align: center;

                .item {         
                    max-width: 80%;

                        li:first-child {
                            color: $color-headline;
                            font-family: $headline-font;
                            font-size: 1rem;
                            font-weight: bold;
                            margin-top: 5px;
                            padding-bottom: 1rem;
                        }

                        li:last-child {
                            
                            line-height: 1.6;
                            font-size: 1rem;
                        }
                }

                @include lg {
                    padding-left: 50px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    width: 800px;
                    row-gap: 4rem;
                    column-gap: 10rem;

                    .item {                        
                        li:first-child {
                            font-size: 1.22rem;
                            font-weight: bold;
                            margin-top: 5px;
                            padding-bottom: 1rem;
                        }

                        li:last-child {
                            line-height: 1.6;
                        }
                }
                }
            
        }
}