#features {
    .container {
        display:flex;
        // display: grid;
        // grid-template-columns: 1fr 2fr;
        // grid-template-rows: auto auto;
        margin-top: 2rem;
    }

        .features-content {

            ul {
                // list-style: none;
                // padding-left: 0;
                width: 450px;

                li:first-child {
                    color: $color-headline;
                    font-family: $headline-font;
                    font-size: 48px;
                    font-weight: bold;
                    line-height: 1.25;
                    padding-bottom: 1.2rem;
                }

                li:last-child {
                    line-height: 1.6;
                    padding-bottom: 1.5rem;
                }
            }
            

            // h1 {
            //     width: 400px;
            //     // color: $color-headline;
            //     // font-family: $headline-font;
            //     // font-size: 48px;
            //     line-height: 1.2;
            //     padding-bottom: 2rem;
            // }

            // p {
            //     width: 450px;
            //     padding-bottom: 2rem;
            //     line-height: 1.6;
            // }

            button {
                padding-top: 16px;
                padding-bottom: 16px;
                font-size: 16px;
            }
        }
    
        .features-items {
            // text-align: center;
            padding-left: 50px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            width: 800px;
            row-gap: 4rem;
            column-gap: 10rem;

            .item {
                    // ul {
                    //     list-style: none;
                    //     padding-left: 0;
                        
                    li:first-child {
                        color: $color-headline;
                        font-family: $headline-font;
                        font-size: 22px;
                        font-weight: bold;
                        margin-top: 5px;
                        padding-bottom: 1rem;
                    }

                    li:last-child {
                        line-height: 1.6;
                    }

                    // li:first-child {
                    //     color: red;
                    //     font-family: $headline-font;
                    // }
                    // h1 {
                    //     font-size: 22px;
                    //     color: $color-headline;
                    //     // font-family: $headline-font;
                    //     padding-bottom: 1rem;
                    // }
                    // p {
                    //     line-height: 1.6;
                    // }

                
                // }

            // .item1 {

                // h1 {
                //     font-size: 22px;
                //     color: $color-headline;
                //     font-family: $headline-font;
                //     padding-bottom: 1rem;
                // }
                // p {
                //     line-height: 1.6;
                // }
            }
        }
}